#app {
  .main-container {
    position: relative;
    height: 100%;
    margin-left: $sideBarWidth;
    transition: margin-left 0.28s;
  }

  .sidebar-container {
    overflow: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    z-index: 1001;
    transition: width 0.28s;
    width: $sideBarWidth !important;
    background-color: $menuBg;
    color: $text;
    box-shadow: 8px 4px 24px #00000007;

    // reset element-ui css
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out,
        0s padding-right ease-in-out;
    }

    .scrollbar-wrapper {
      overflow-x: hidden !important;
      padding: 0 20px;
    }

    .el-scrollbar__bar.is-vertical {
      right: 0px;
    }

    .el-scrollbar {
      height: 100%;
    }

    .is-horizontal {
      display: none;
    }

    .svg-icon {
      scale: 1.2;
      margin-right: 12px;
    }

    .sub-el-icon {
      margin-right: 12px;
      margin-left: -2px;
    }

    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
      background-color: $menuBg;
      .el-menu-item {
        display: flex;
        align-items: center;
        height: 52px;
        font-size: 16px;
        border-radius: 8px;
      }
    }

    // menu hover
    .submenu-title-noDropdown,
    .el-submenu__title {
      display: flex;
      align-items: center;
      height: 52px;
      font-size: 16px;
      font-weight: 500;
      border-radius: 8px;
      &:hover {
        background-color: #f5f7fa !important;
        color: $menuActiveText !important;
      }
      &.is-active {
        background-color: $menuActive !important;
      }
    }

    .is-active > .el-submenu__title {
      color: $menuActiveText !important;
    }

    .el-submenu__icon-arrow {
      font-size: 1em;
    }

    & .nest-menu .el-submenu > .el-submenu__title,
    & .el-submenu .el-menu-item {
      background-color: $menuBg !important;

      &:hover {
        background-color: $menuHover !important;
        color: $menuActiveText !important;
      }
      &.is-active {
        background-color: $menuActive !important;
      }
    }
  }

  .hideSidebar {
    .sidebar-container {
      width: 54px !important;
      .scrollbar-wrapper {
        padding: 0;
      }
    }

    .main-container {
      margin-left: 54px;
    }

    .submenu-title-noDropdown {
      position: relative;
      padding: 0 !important;
      border-radius: 0 !important;

      .el-tooltip {
        padding: 0 !important;

        .svg-icon {
          margin-left: 20px;
        }

        .sub-el-icon {
          margin-left: 19px;
        }
      }
    }

    .el-submenu {
      overflow: hidden;

      & > .el-submenu__title {
        padding: 0 !important;

        .svg-icon {
          margin-left: 20px;
        }

        .sub-el-icon {
          margin-left: 19px;
        }

        .el-submenu__icon-arrow {
          display: none;
        }
      }
    }

    .el-menu--collapse {
      .el-submenu {
        & > .el-submenu__title {
          & > span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
        }
      }
    }
  }

  .content-container {
    height: calc(100% - 60px);
    padding: 20px;
    border-radius: 8px;
    background-color: #f5f7fa;
  }

  .el-menu--collapse .el-menu .el-submenu {
    min-width: $sideBarWidth !important;
  }

  // mobile responsive
  .mobile {
    .main-container {
      margin-left: 0px;
    }

    .sidebar-container {
      transition: transform 0.28s;
      width: $sideBarWidth !important;
    }

    &.hideSidebar {
      .sidebar-container {
        pointer-events: none;
        transition-duration: 0.3s;
        transform: translate3d(-$sideBarWidth, 0, 0);
      }
    }
  }

  .withoutAnimation {
    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}

// when menu collapsed
.el-menu--vertical {
  & > .el-menu {
    .svg-icon {
      margin-right: 16px;
    }
    .sub-el-icon {
      margin-right: 12px;
      margin-left: -2px;
    }
  }

  .nest-menu .el-submenu > .el-submenu__title,
  .el-menu-item {
    &:hover {
      background-color: $menuHover !important;
    }
  }

  // the scroll bar appears when the subMenu is too long
  > .el-menu--popup {
    max-height: 100vh;
    overflow-y: auto;

    &::-webkit-scrollbar-track-piece {
      background: #d3dce6;
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: #99a9bf;
      border-radius: 20px;
    }
  }
}
